html {
    scroll-behavior: smooth;
    max-width: 100%;
    border: 6px solid;
    border-image-source: linear-gradient(90deg,#f7c9c9,#fa709a 70%);
    border-image-slice: 1;
}

p.funParagraph{
    color: green;
}

body {
    background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: 400;
    margin: 8px;
    display: inline;
}

h2 {
    color: cornflowerblue;
}

#mainHeading {
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: red;
    font-weight: 800;
    /* margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 200px; */
    margin: auto;
    height: 200px;
    width: 50%;
}

.card {
    /* color: ; */
    background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(254, 174, 99) 15.9%, rgb(236, 238, 171) 15.9%, rgb(239, 180, 236) 24.4%, rgb(124, 168, 196) 24.5%, rgb(2, 25, 39) 66%);
}